.profileContainer {
  display: inline-flex;
  width: 100%;
  height: 10rem;
}

.profilePhoto {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: url('../../../images/photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: none; */
}

.profileData {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  height: 100%;
}

.profileDataGeneral {
  margin-top: 10px;
  margin-left: calc(10rem + 10px);
}

.profileDataGeneral__name {
  height: 1.5rem;
  font: 1rem var(--black);
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.profileDataGeneral__jobPosition {
  height: 1.5rem;
  font: var(--gray);
  font-size: 12px;
  opacity: 70%;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.profileDataGeneral__description {
  margin: 10px 0;
  margin-left: 5rem;
  height: 100%;
  line-height: 1.5rem;
  padding: 0.5rem;
  padding-left: calc(5rem + 10px);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--lablolly);
  border-radius: 5px;
  background: var(--lemon-chiffon);
}
