@import '~normalize.css/normalize.css';

:root {
  /* --black: #1d1d1d;
  --white: #ffffff;
  --orange: #e4661e;
  --orange-light: #f0894e;
  --pink: #fff0db;
  --yellow: #f0ad4e;
  --yellow-light: #ffd25d;
  --green: #49ab39;
  --grey: #e5e5e5;
  --grey-dark: #898989; */

  --mercury: #e5e5e5;
  --mine-shaft: #333333;
  --gray: #808080;
  --tundora: #4d4d4d;
  --lablolly: #c4cbcf;
  --alto: #dadada;
  --alice-blue: #f2fbff;
  --viking: #73b4d5;
  --sail: #ace2f8;
  --black: #000000;
  --endeavour: #005da1;
  --granny-smith-apple: #b1e19b;
  --nobel: #b3b3b3;
  --concrete: #f2f2f2;
  --bright-sun: #fdd639;
  --lemon-chiffon: #fffbc8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
